<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col">
        <p id="id1">Labels</p>
        <input type="text" name="attributeid1" id="attributeid1" required="required">
    </div>
    <div class="col">
        <p id="id2">Data</p>
        <input type="text" name="attributeid2" id="attributeid2" required="required">
    </div>

    <div class="col"><br> <br>
        <button id="submit" class="bnt-primary"> Upload</button>
    </div>
</form>
</body>
</html>