{% extends 'partials/base.html' %}

{% block title %}ADD DATA{% endblock %}

{% block content %}

<style>

    .f1{
        margin-left: 250px;
    }

    .text{
        font-size: 50px;
        color: rgba(58.58, 61.92, 142.02, 0.90);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .but1{
        border-color: rgba(58.58, 61.92, 142.02, 0.90);
        border-style: solid;
        border-width: 2px;
        background: none;
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin-left: 260px;
        margin-top: 20px;
    }

    .but1:hover{
        background: rgba(58.58, 61.92, 142.02, 0.90);
        color: white;
    }

    .b1{
        background-size: cover;
        height: 310px;
    }

</style>

<div class="row MT-4 PT-4 b1" style="background-image: url('static/images/bg.jpg')">
    <div class="col-md-12 shadow">
        <div class=class="row-md-2">
            <h2 class="row-md-1 text-center text p-4">Add Data</h2>
            <hr>
            <div class="row-md-1 form-group f1 pt-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <hr>
                    <input class="btn but1 " type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}