{% extends 'partials/base.html' %}

{% block title %}ADD DATA{% endblock %}

{% block content %}
{% load static %}
<style>

    .f1{
        margin-left: 250px;
    }

    .text{
        font-size: 44px;
        color: rgba(58.58, 61.92, 142.02, 0.90);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .but1{
        border-color: rgba(58.58, 61.92, 142.02, 0.90);
        border-style: solid;
        border-width: 2px;
        background: none;
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin-left: 240px;
        margin-top: 20px;
    }

    .but1:hover{
        background: rgba(58.58, 61.92, 142.02, 0.90);
        color: white;
    }

    .b1{
        background-size: cover;
        height: 310px;
    }

    .t{
        font-weight: 600;
    }

</style>

<div class="media">
    <div class="media-body text-left" style="font-size: 20px">
        <h1 class="text-left mt-5">Add your own data to generate <br> the best products</h1>
        <p style="position: absolute" class="text-right">
            <i>You can provide the population data for various countries around the world, and we can display that data
                in the
                form of charts.</i>
        </p>
    </div>
    <img class="align-self-left mr-3 pb-5" style="width: 250px; padding-left: 20px"
         src="{% static 'images/gradient.png' %}"
         alt="Generic placeholder image">
</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="row MT-4 PT-4 b1" style="background-image: url('static/images/bg.jpg')">
    <div class="col-md-12 shadow">
        <div class=class="row-md-2">
            <h2 class="row-md-1 text-center text p-4">Please add your data</h2>
            <hr>
            <div class="row-md-1 form-group f1 pt-3">
                <form method="POST" class="t">
                    {% csrf_token %}
                    {{ form }}
                    {{ name}}
                    <hr>
                    <input class="btn but1 " type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
