{% extends 'partials/base.html' %}

{% block title %}DELETE DATA{% endblock %}

{% block content %}

{% load static %}

<style>

    .content{
        display: flex;
		align-items: center;
		justify-content: center;
		font-size:22px;
    }

    .cancel{
        border-color: rgba(58.58, 61.92, 142.02, 0.90);
        border-style: solid;
        border-width: 2px;
        color: black;
    }

    .cancel:hover{
        background: rgba(58.58, 61.92, 142.02, 0.90);
        color: white;
    }

    .delete{
        border-color: red;
        border-style: solid;
        border-width: 2px;
        color: black;
    }

    .delete:hover{
        background: red;
        color: white;
    }


</style>

<img class="container-fluid pb-5" src="{% static 'images/delete.png' %}" alt="banner">

<div class="content text-center">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a class="btn ml-4 cancel" href="add_data">Cancel</a>
        <input class="btn ml-5 delete" type="submit" value="Delete Selected">
    </form>
</div>

{% endblock %}