{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="row MT-3 PT-3">
    <div class="col-md-4">
        <div class="border p-3 shadow">
            <h4>Add Data</h4>
            <hr>
            <form method = "POST">
                {% csrf_token %}
                  {{form}}
                  <input class= "btn btn-success btn-block" type="submit" value="Add">
            </form>

        </div>
        {% include 'dashboard/upload_file.html' %}

    </div>

    <div class="col-md-6 my-4">
        <div class="bg-white">
            <div class="card-body">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for data in data %} '{{ data.country }}', {% endfor %}],
                    datasets: [{
                        label: '# of Populations',
                        data: [{% for data in data %} {{ data.population }}, {% endfor %}],

                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            y: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>

    </div>
</div>


{% endblock %}